.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-btn {
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  display: block;
  border-radius: 34px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #e92727;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: auto;
  }
  
  .play-btn:hover {
  background: #ec684e;
  text-decoration: none;
  }

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
